@import 'vars';
@import 'fonts';
@import 'global';



.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	position: relative;
}

.box-left,
.box-right {
	max-width: 396px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.menu__btn {
	color: $yellow;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 0.015em;
}

.feedback {
	color: $blue;
	letter-spacing: 0.015em;
	font-weight: 700;
	padding: 15px 19px;
	border: 2px solid $blue;
	border-radius: 7px;
}

.box-right {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.address {
	line-height: 125.9%;
	letter-spacing: 0.015em;
	width: 190px;
}

.contacts__phone {
	color: $main-blue;
}

.contacts__social {
	text-align: right;
	margin-top: 5px;
}

.contacts__social-link {
	&+& {
		margin-left: 13px;
	}
}

.logo {
	position: absolute;
	top: -42px;
	left: 50%;
	transform: translateX(-50%);
	width: 163px;
	height: 163px;
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
	text-align: center;

	&__img {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		height: 70%;
		object-fit: contain;

	}
}

.menu-box {
	position: absolute;
	background-color: $white;
	top: 78px;
	box-shadow: 0px 22px 20px -12px rgba(0, 0, 0, 0.11);
	border-radius: 0px 0px 31px 31px;
	padding: 37px 48px 50px 64px;
	z-index: 5;
	display: none;
}

.menu-box__wrapper {
	display: flex;
}

.menu-box__column {
	color: $main-blue;
	letter-spacing: 0.03em;

	&+& {
		margin-left: 45px;
	}
}

.menu-box__title {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 15px;
	font-weight: 700;
}

.menu-box__item {
	margin: 8px 0;
	font-weight: 500;
	transition: all .3s;

	&:hover {
		color: $yellow;
	}
}

.address.address-mobile,
.contacts.contacts-mobile,
.feedback.feedback-mobile {
	display: none;

}

.preview {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	margin-bottom: 120px;
}

.preview__inner {
	padding-top: 170px;
	min-height: 815px;
	position: relative;
}

.title {
	font-weight: 900;
	font-size: 99px;
	line-height: 94px;
	letter-spacing: 0.03em;
	color: $white;
	text-align: center;
	margin-bottom: 80px;

	span {
		display: block;
		font-size: 52px;
		line-height: 55px;
		letter-spacing: 0.015em;
		font-weight: 400;
	}
}

.preview__more {
	font-weight: 600;
	font-size: 26px;
	line-height: 100.8%;
	letter-spacing: 0.03em;
	color: $white;
	padding-right: 116px;
	position: relative;

}

.preview__more-link {
	&::before {
		position: absolute;
		content: '';
		background-image: url('../images/more-circle.svg');
		width: 83px;
		height: 83px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&::after {
		position: absolute;
		content: '';
		background-image: url('../images/more-arrow.svg');
		width: 67px;
		height: 15px;
		right: 41px;
		top: 50%;
		transform: translateY(-50%);
		transition: all .3s;
	}

	&:hover {
		&::after {
			right: 25px;
		}
	}
}

.preview__form {
	padding: 35px 36px 40px;
	background-color: $white;
	border-radius: 15px;
	position: absolute;
	bottom: -20px;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.05);
}

.preview__form-button {
	margin-left: 37px;
	filter: drop-shadow(0px 0px 5px rgba(250, 151, 21, 0.56));
}

.preview__form-info {
	right: 27px;
	bottom: 13px;
	text-align: center;
}

.preview__form-input {
	border: none;
}

.preview__form-select {
	margin-right: 26px;
}

.preview__form-date {
	max-width: 139px;
}

.jq-selectbox {
	&.focused {
		.jq-selectbox__select {
			border: none;
		}
	}

	.placeholder {
		color: $black;
	}
}

.jq-selectbox__select {
	height: 32px;
	padding: 4px 28px 0 0px;
	border: none;
	border-bottom-color: transparent;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.03em;
	font-family: 'Raleway', sans-serif;
	color: $black;
	text-shadow: none;

	&:hover {
		background: transparent;
	}

}

.jq-selectbox__select-text {
	overflow: hidden;
	user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 107px !important;
}

.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 100%;
	border-left: none;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	background-image: url('../images/select-arrow.svg');
	top: 12px;
	right: 0;
	width: 22px;
	height: 8px;
	border: none;
}

.jq-select-multiple select,
.jq-selectbox select {
	position: absolute;
	top: 0;
	left: 0;
	width: 112px;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}

//about
.about {
	margin-bottom: 190px;
}

.about__title {
	margin-bottom: 47px;
}

.about__content {
	display: flex;
}

.about__text-wrapper {
	max-width: 534px;
	padding-bottom: 85px;
	position: relative;
}

.about__text {
	line-height: 28px;
	letter-spacing: 0.02em;
	margin: 10px 0;
}

.about__img {
	max-width: 517px;
	width: 100%;
	height: 638px;
	overflow: hidden;
	margin-right: 83px;
	flex-shrink: 0;

	img {
		height: 100%;
		object-position: -90px;
	}
}

.about__text.about__text-mobile {
	display: none;
}

//product
.product {
	margin-bottom: 200px;
}

.product__inner {
	padding-bottom: 109px;
	position: relative;
}

.product__title {
	margin-bottom: 19px;
}

.product__subtitle {
	margin-bottom: 44px;
}

.product__item-wrapper {
	display: flex;
	justify-content: space-between;
}

.product__item {
	position: relative;
	padding-bottom: 47px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
	border-radius: 32px;
	max-width: 349px;
	width: 100%;
	text-align: center;
	background-color: $white;
	transition: all .5s;
	display: flex;
	flex-direction: column;

	&::before {
		content: '';
		position: absolute;
		top: -3px;
		bottom: -3px;
		left: -3px;
		right: -3px;
		border-radius: 32px;
		background: linear-gradient(40deg, rgba(250, 151, 21, 1) 3%, transparent 40%, transparent 70%, rgba(250, 151, 21, 1) 90%);
		z-index: -1;
		opacity: 0;
		transition: all .5s;
	}

	&:hover {
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

		.swiper-button-prev {
			background-image: url('../images/slider-arrow-left-hover.svg');
		}

		.swiper-button-next {
			background-image: url('../images/slider-arrow-right-hover.svg');
		}

		&::before {
			opacity: 1;
		}
	}
}

.product__item-price {
	position: absolute;
	top: -1px;
	right: -1px;
	z-index: 3;
	padding: 14px 11px;
	background-color: $white;
	font-weight: 800;
	line-height: 108.8%;
	text-align: center;
	letter-spacing: 0.03em;
	color: $main-blue;
	border-radius: 0px 33px;

	span {
		display: block;
		font-size: 14px;
		font-weight: 500;
	}
}

.product__item-slider {
	width: 100%;
	height: 222px;
	margin-bottom: 12px;
	border-radius: 32px 32px 0 0;
	overflow: hidden;

	img {
		object-fit: cover;
		width: 100%;
	}
}

.product__item-title {
	color: $yellow-sub;
	font-size: 32px;
	line-height: 118.9%;
	font-weight: 700;
	margin-bottom: 5px;
}

.product__item-description {
	font-size: 14px;
	line-height: 105.9%;
	margin-bottom: 31px;
	padding: 0 7px;
	flex: 1 1 auto;
}

.product__option-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 45px;
	justify-content: center;
}

.product__option-item {
	margin: 0 15px;
	margin-bottom: 11px;
}

.product-button {
	margin-top: 19px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 118.4%;
	align-self: center;
	filter: drop-shadow(0px 0px 5px rgba(250, 151, 21, 0.56));
}

.swiper-container-1,
.swiper-container-2,
.swiper-container-3 {
	position: relative;
}

.swiper-button-prev,
.swiper-button-next {
	width: 14px;
	height: 26px;
	background-size: cover;
	top: 57%;
	transition: all .3s;
}

.swiper-button-prev {
	background-image: url('../images/slider-arrow-left.svg');
	left: 12px;
}

.swiper-button-next {
	background-image: url('../images/slider-arrow-right.svg');
	right: 12px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	display: none;
}

//section-form
.section-form {
	background-color: $main-blue;

	&__inner {
		padding: 51px 106px 83px;
		text-align: center;
	}

	&__title {
		margin-bottom: 17px;
	}

	&__subtitle {
		margin-bottom: 43px;
	}

	&__form {
		padding: 34px 51px 57px;
		background-color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.05);
		border-radius: 28px;
		position: relative;
	}
}

.section-form__form-input {
	max-width: 310px;
	width: 100%;
	height: 34px;
	border: none;
	border-bottom: 1px solid $black;
	padding: 0 8px;

	&+& {
		margin-left: 43px;
	}

	&::placeholder {
		font-weight: 500;
		font-size: 24px;
		line-height: 107.8%;
		letter-spacing: 0.03em;
		color: #696969;
	}
}

.section-form__form-button {
	margin-left: 38px;
	padding: 18px 10px;
	flex-shrink: 0;
}

.section-form__info {
	bottom: 20px;
	right: 43px;
}

//reviews

.reviews {
	margin-bottom: 200px;

	&__inner {
		padding: 140px 0 111px;
		position: relative;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__subtitle {
		margin-bottom: 49px;
	}

	&__items-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__more-link {}
}

.reviews-item {
	position: relative;
	max-width: 375px;
	width: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
	border-radius: 19px;
	background-color: $white;
	padding: 30px 45px;
	text-align: center;

	&__social {
		position: absolute;
		top: 30px;
		left: 28px;
	}

	&__social-link {
		display: block;
		margin-bottom: 9px;
		width: 20px;
	}

	&__avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 19px;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			background-image: url('../images/autor-avatar-border.png');
			width: 100px;
			height: 100px;
			background-size: cover;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
	}

	&__avatar-img {
		width: 94%;
		height: 94%;
		border-radius: 50%;
		object-position: center center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: 2;
	}

	&__autor-name {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 2px;
	}

	&__rate {
		margin: 0 auto;
		margin-bottom: 9px;
	}

	&__text-title {
		letter-spacing: 0.03em;
		font-weight: 500;
		margin-bottom: 7px;
		text-align: left;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		text-align: left;
		height: 315px;
		overflow: hidden;
	}
}

//faq
.faq {

	&__inner {
		padding: 154px 0 83px;
	}

	&__title {
		margin-bottom: 23px;
	}

	&__subtitle {
		margin-bottom: 39px;
	}

	&__item {
		padding: 21px 79px 21px 32px;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
		border-radius: 14px;
		margin-bottom: 31px;
	}

	&__item-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		padding-left: 70px;
		position: relative;
		cursor: pointer;

		&::before {
			position: absolute;
			content: '';
			background-image: url('../images/faq-arrow-right.svg');
			width: 19px;
			height: 32px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: all .3s;
		}

		&.faq__item-title--active {
			&::before {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}

	&__item-text {
		line-height: 28px;
		letter-spacing: 0.02em;
		margin-top: 18px;
		padding-left: 70px;
		display: none;
	}
}

//footer

.footer {
	padding-top: 152px;
	color: $white;

	&__inner-top {
		background-color: $main-blue;
	}

	&__list {
		margin-bottom: 36px;
	}

	&__list-item {
		transition: all .3s;

		&+.footer__list-item {
			margin-top: 12px;
		}

		&:hover {
			color: $yellow;
		}
	}

	&__list-link {}

	&__form {
		position: relative;
		margin-bottom: 36px;
	}

	&__form-input {
		width: 100%;
		height: 50px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
		border-radius: 8px;
		border: none;
		padding: 0 60px 0 21px;

		&::placeholder {
			color: #696969;
			letter-spacing: 0.03em;
		}
	}

	&__form-button {
		width: 54px;
		height: 100%;
		position: absolute;
		background-color: $yellow;
		border-radius: 7px;
		right: 0;

		&::after {
			position: absolute;
			content: '';
			background-image: url('../images/send.svg');
			width: 30px;
			height: 30px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__payment {}

	&__payment-item {
		display: inline-block;

		&+.footer__payment-item {
			margin-left: 24px;
		}
	}

	&__payment-img {}

	&__inner-bottom {
		background-color: $dark-blue;
	}
}

.container {}

.footer-top {
	padding: 55px 0 33px;

	&__box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 61px;
	}

	&__box-bottom {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__box-column {}

	&__link {
		margin-bottom: 10px;
		line-height: 28px;
		letter-spacing: 0.02em;
		transition: all.3s;

		&:hover {
			color: $yellow;
		}
	}

	&__social {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__social-item {
		margin: 0 10px;

	}

	&__social-link {}
}

.footer-column {

	&__title {
		font-size: 24px;
		line-height: 26px;
		font-weight: 700;
		margin-bottom: 14px;
		pointer-events: none;
	}

	&__text {
		letter-spacing: 0.03em;
		line-height: 26px;
		margin-bottom: 50px;
	}

	&__text-link {
		text-decoration: underline;
		font-weight: 600;
		transition: all.3s;

		&:hover {
			color: $yellow;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		border-radius: 15px;
		border: 1px solid $white;
		padding: 16px 25px;
	}

	&__button-img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin-right: 20px;
		flex-shrink: 0;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			background-image: url('../images/autor-avatar-border.png');
			background-size: cover;
			top: -5px;
			left: -5px;
			bottom: -5px;
			right: -5px;
			z-index: 1;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
			position: absolute;
			z-index: 2;
		}
	}

	&__button-boxtext {}

	&__button-title {
		letter-spacing: 0.015em;
		line-height: 118.4%;
		font-weight: 700;
	}

	&__button-text {
		font-weight: 500;
		font-size: 15px;
		line-height: 28px;
		letter-spacing: 0.03em;
		transition: all.3s;

		&:hover {
			color: $yellow;
		}
	}

	&__subcolunm {}
}

.footer-bottom {


	&__box {
		padding: 15px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 15px;
		line-height: 28px;
		font-weight: 500;
		opacity: 0.8;
	}

	&__left {}

	&__right {
		display: flex;
	}

	&__text {}

	&__link {
		color: $yellow;
	}
}

.footer-column--left {
	max-width: 393px;
	width: 100%;
}

.footer-column--center {
	max-width: 433px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer-column--right {
	max-width: 310px;
	width: 100%;
}

.footer-column__title--small {
	width: 160px;
}


//product
//subtitle
.subheader {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 100px;
}

.subheader__inner {
	padding: 106px 0 76px;
}

.subheader__title {
	letter-spacing: 0.03em;
	font-weight: 900;
	font-size: 144px;
	line-height: 169px;
	color: $white;
}

.product-content {
	margin-bottom: 50px;
}

.product-content__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 21px;
}

.product-content__tab {
	display: flex;
	align-items: center;
}

.product-content__tab-item {
	width: 207px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	border-radius: 9px;
	background-color: $white;
	padding: 17px 5px 13px;
	text-align: center;
	color: $main-blue;
	cursor: pointer;
	transition: all .3s;

	&+& {
		margin-left: 25px;
	}

	&.active {
		background-color: $main-blue;
		color: $white;

		.product-numbbed {
			&::after {
				background-image: url('../images/bed-white.svg');
			}
		}

		.product-numbguests {
			&::after {
				background-image: url('../images/guest-white.svg');
			}
		}
	}
}

.product-name {
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
}

.product-option {
	display: flex;
	justify-content: space-between;
	padding-right: 65px;
	padding-left: 50px;
	font-weight: 500;
	font-size: 22px;
	line-height: 23px;
	letter-spacing: 0.03em;
}

.product-numbbed {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		background-image: url('../images/bed.svg');
		width: 20px;
		height: 16px;
		right: -23px;
		top: 4px;
	}
}

.product-numbguests {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		background-image: url('../images/guest.svg');
		width: 16px;
		height: 16px;
		right: -19px;
		top: 3px;
	}
}

.product-content__content-item {
	display: none;

	&.active {
		display: block;
	}
}

.swiper-container-product {
	overflow: hidden;
	height: 550px;
	margin-bottom: 10px;
	filter: drop-shadow(0px 0px 21px rgba(0, 0, 0, 0.12));
	border-radius: 33px;

	.swiper-button-prev,
	.swiper-button-next {
		width: 23px;
		height: 40px;
		top: 50%;
	}

	.swiper-button-prev {
		left: 35px;
	}

	.swiper-button-next {
		right: 35px;
	}
}

.product__info {
	position: absolute;
	right: -20px;
	top: 31%;
	background-color: $yellow-sub;
	z-index: 2;
	padding: 10px 30px;
	border-radius: 8px;
	text-align: center;
	color: $white;
}

.product__info-text {
	font-weight: 700;
}

.product__info-link {
	font-size: 15px;
	font-weight: 500;
	text-decoration: underline;
}

.swiper-container-product--thumbs {
	height: 139px;
	overflow: hidden;
	position: relative;
	padding-bottom: 28px;
	width: 100%;
}

.swiper-container-horizontal>.swiper-scrollbar {
	height: 10px;
}

.swiper-scrollbar-drag {
	background: $main-blue;
}

.product-wrapper {
	display: flex;
	padding-top: 26px;
	margin-bottom: 51px;
}

.product-body {
	max-width: 844px;
	width: 100%;
	margin-right: 66px;
	position: relative;

	.product__item-price {
		font-size: 30px;
		line-height: 106.4%;
		color: $yellow-sub;
	}
}

.product-body__slider {
	height: 713px;
	margin-bottom: 28px;

	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.slide-products {
	border-radius: 33px;
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
}

.slide-thumbs {
	border-radius: 18px;
	overflow: hidden;
}

.product-body__title {
	font-size: 32px;
	line-height: 118.9%;
	font-weight: 700;
	color: $yellow-sub;
	margin-bottom: 17px;
}

.product-body__description {
	display: flex;
	align-items: center;
	margin-bottom: 48px;
}

.product-body__description-text {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.02em;
	margin-right: 70px;
}

.product-body__description-button {
	font-size: 18px;
	letter-spacing: 0.015em;
	padding: 19px 20px;
	height: 60px;
}

.product-body__option-title {
	font-size: 24px;
	line-height: 26px;
	width: 700px;
	color: $main-blue;
	margin-bottom: 43px;
}

.product-body__option-list {
	column-count: 2;
	column-gap: 120px;
}

.product-body__option-item {
	padding-left: 66px;
	position: relative;
	font-weight: 500;
	margin-bottom: 19px;
	padding-top: 9px;

	&::before {
		position: absolute;
		content: '';
		width: 36px;
		height: 36px;
		left: 0;
		top: 0;
		background-image: url('../images/check.svg');
	}
}

.product-aside__item {
	width: 100%;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	background-color: $white;
	padding: 47px;
	margin-bottom: 32px;

	&.product-aside__itemcounter {
		width: 224px;
		padding: 21px 15px 16px 22px;
		text-align: center;
	}
}

.product-aside__form {
	display: flex;
	flex-direction: column;
}

.product-aside__form-box {
	position: relative;

	span {
		position: absolute;
		top: -7px;
		font-size: 11px;
		line-height: 103.4%;
	}
}

.product-aside__form-input {
	width: 100%;
	margin-bottom: 27px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	font-weight: 500;
	font-size: 24px;
}

.product-aside__item-title {
	color: $main-blue;
	font-weight: 700;
	margin-bottom: 31px;
	padding-right: 10px;
}

.product-aside__item-counter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 21px;

	input {
		width: 36px;
		border: none;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
	}

	span {
		font-size: 24px;
		font-weight: 700;
		color: $blue;
		cursor: pointer;
	}
}

.product-aside__incremencer {
	position: relative;
	box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	width: 80px;
	padding: 3px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.min,
.min2 {
	padding-bottom: 5px;
}

.product-aside__counter-button {
	font-weight: 800;
	font-size: 14px;
	line-height: 21px;
	padding: 7px 25px;
	background-color: $main-blue;
}

.product-aside__incremencer-info {
	font-size: 9px;
	line-height: 103.4%;
	position: absolute;
	top: -11px;
	left: 0;
}

.product-content__review {
	overflow: hidden;
	width: 72%;
	padding: 20px;
	padding-bottom: 40px;
	margin-left: 0;

	.reviews-item {
		display: flex;
		max-width: 702px;
		padding: 30px 10px 44px 88px;
	}

	.reviews-item__avatar {
		flex-shrink: 0;
		margin-right: 24px;
	}

	.reviews-item__box {
		text-align-last: left;
	}

	.reviews-item__rate {
		margin: 0;
		margin-bottom: 9px;
	}

	.reviews-item__text {
		height: 100px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 48%;
	}

	.swiper-button-next {
		right: 0px;
	}

	.swiper-button-prev {
		display: none;
	}

	.swiper-pagination-bullets {
		bottom: 0;
		left: -2%;
	}

	.swiper-pagination-bullet {
		width: 20px;
		height: 20px;
		background-color: $white;
		border: 2px solid $main-blue;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background-color: $main-blue;
	}
}

.reviews-slide {
	padding-left: 15px;
	height: 100%;
}

.footer-product {
	padding-top: 0;
}

.product-item {
	width: 100%;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.05);
	border-radius: 24px;
	margin-bottom: 48px;

	&__top {
		display: flex;
	}

	&__top-img {
		width: 220px;
		flex-shrink: 0;
		height: 240px;

		img {
			border-radius: 21px 0px 21px 21px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__top-description {
		padding: 28px 50px 20px 14px;
		display: flex;
		flex-direction: column;
		text-align-last: left;
	}

	&__top-title {
		font-size: 24px;
		line-height: 26px;
		font-weight: 700;
		color: $yellow-sub;
		margin-bottom: 12px;
	}

	&__top-text {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 10px;
		flex: 1 1 auto;
	}

	&__top-button {
		span {
			font-weight: 500;
			padding-right: 27px;
			position: relative;

			&::after {
				position: absolute;
				content: '';
				background-image: url('../images/arrow-down.svg');
				background-repeat: no-repeat;
				width: 22px;
				height: 8px;
				right: 0;
				top: 8px;
			}
		}

		.open {
			display: none;
		}

		&.active {
			.open {
				display: inline-block;

				&::after {
					transform: rotate(180deg);
				}
			}

			.close {
				display: none;
			}
		}
	}

	&__top-info {
		padding: 50px 25px 22px 0;
		display: flex;
		flex-direction: column;
	}

	&__top-checkbox {
		font-size: 16px;
		line-height: 24px;
		padding-left: 55%;
	}

	&__button {
		font-size: 18px;
		padding: 19px;
	}
}

.price-box {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__description {
		font-weight: 500;
		font-size: 11px;
		line-height: 11px;
		color: #696969;

		span {
			display: block;
		}
	}

	&__summ {
		font-size: 32px;
		line-height: 187.3%;
		font-weight: 800;
		color: $main-blue;
	}
}

.product-item__drop {
	display: none;
}

.product-item__drop-wrapper {
	padding: 29px 43px 33px;
	display: flex;
	justify-content: space-between;
}

.product-item__column-list {
	&+& {
		margin-top: 60px;
	}
}

.product-item__column-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: $main-blue;
	margin-bottom: 21px;
}

.product-item__column-line {
	font-size: 16px;

	&+& {
		margin-top: 10px;
	}
}

@import 'media';